.__input{
    padding:11px;
    border-radius:5px;
    outline:0;
    border:1px solid #F3F3F3;
    font-size:1rem;
    max-width:100px;
    margin:10px 0;
    text-align:right;
  }

  .container-input{
      display:inline-block
  }