.__select{
    padding:11px;
    border-radius:5px;
    outline:0;
    border:1px solid #F3F3F3;
    font-size:1rem;
    min-width:200px;
    max-width:300px;
    height:40px;
    margin:10px 0;
}

.container-select{
    display:inline-block;
    padding:15px;
}