html,body{
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  background: ghostwhite;
}
form{
  background: white;
  padding:0 40px 25px;
  border-radius: 15px;
  margin:25px;
  display:inline-block;
  margin:0 auto;
}

form label{
  display:block;
  color:lightblue;
}

h1{
      font-weight:400;
      color:lightblue;
      text-align:center;
}

h2{
  font-weight:400;
  color:lightblue;
  font-size: small;
}

.container-form{
  padding:25px;
}